{% load static i18n %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link rel="stylesheet" href="{% static 'lp/' %}lp.css">
</head>
<body>
<h1>
    <span data-id="text_01" class="lp-editable">{{ data.text_01 | default:'Hello' }}</span>
    <span data-id="text_02" class="lp-editable">{{ data.text_02 | default:'Boss' }}</span>
</h1>


<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
{% if user.is_authenticated %}
    <script>
        $( document ).ready(function () {
          $('.lp-editable').addClass('lp-edit')
        })
    </script>
{% endif %}

<script src="{% static 'lp/' %}lp.js"></script>
</body>
</html>